name: Tests

on: push

env:
  SHA: ${{ github.sha }}
  BRANCH: ${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby 2.5.1
      uses: ruby/setup-ruby@v1
    - name: Cache Gems
      uses: actions/cache@v1
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-resource_registry-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-resource_registry-${{ hashFiles('**/Gemfile.lock') }}
    - name: Install Gems
      run: |
        gem update --system
        gem install bundler -v '2.0.2'
        bundle config build.nokogiri --use-system-libraries
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
    - name: Run RSpec
      run: |
        bundle exec rspec
    - name: Run Rubocop
      run: |
        bundle exec rubocop
